<section class="hpad">
  <form ng-submit="refresh()" class="hform">
    <label>
      <div><b>Search term</b></div>
      <input ng-model="$storage.q" style="width: 200px">
    </label>
    <label>
      <div><b>Downloads Factor</b></div>
      <input ng-model="$storage.downloadsFactor" style="width: 120px">
    </label>
    <label>
      <div><b>Size</b></div>
      <input ng-model="$storage.size" type="number" style="width: 50px">
    </label>
    <div style="margin: 5px 0">
      <button>Search</button>
      <span>{{search_status}}</span>
    </div>
  </form>
</section>

<table class="fill padded lined striped">
  <thead>
    <th key="_score">Score</th>
    <th key="name">Name</th>
    <th key="description">Description</th>
    <th key="authorString">Author</th>
    <th key="keywords">Keywords</th>
    <th key="version">Version</th>
    <th title="Last modified">Modified</th>
    <th title="Average downloads per day">Downloads</th>
  </thead>
  <tbody>
    <tr ng-repeat="package in packages">
      <td class="numeric">{{package._score.toFixed(2)}}</td>
      <td>
        <a ui-sref="package({name: package.name})" class="nowrap">{{package.name}}</a>
        <a href="https://www.npmjs.com/package/{{package.name}}" class="npm-red" style="font-size: 80%"><b>npm</b></a>
      </td>
      <td style="width: 40%">{{package.description}}</td>
      <td>{{package.author.name || package.maintainers[0].name}}</td>
      <td style="width: 20%">{{package.keywords.join(', ') | limitTo:72}}</td>
      <td class="numeric">{{package.latest}}</td>
      <td class="nowrap">{{package.modified | date:'yyyy-MM-dd'}}</td>
      <td class="numeric">{{package.averageDownloadsPerDay.toFixed(0)}}</td>
    </tr>
  </tbody>
</table>
